<div id="post_content">
  <h1 class="title">
    <%= @project.title %>
  </h1>

  <p class="body">
    <%= @project.description %>
  </p>

  <p class="date">
    Created <%= time_ago_in_words(@project.created_at) %> ago
    <% if user_signed_in? %>
        | <%= link_to 'Edit', edit_project_path(@project) %>
        | <%= link_to 'Delete', project_path(@project), method: :delete, data: {confirm: 'Are you sure?'} %>
    <% end %>
  </p>

  <div id="comments">
    <h2><%= @project.posts.count %> Posts</h2>
    <%= render @posts %>

    <% if user_signed_in? %>
        <h3>Add a post:</h3>
        <%= render "posts/form" %>
    <% end %>

  </div>
</div>