<div id="post_content">
  <h1 class="title">
    <%= @post.title %>
  </h1>

  <p class="body">
    <img alt="post image" src="<%= @post.image %>" />
    <br>
    <%= @post.description %>
  </p>

  <p class="date">
    Created <%= time_ago_in_words(@post.created_at) %> ago
    <% if user_signed_in? %>
       <br>
       <%= link_to 'Delete', [@post.project, @post], method: :delete, data: {confirm: 'Are you sure?'} %>
       |
       <%= link_to 'Edit', edit_project_post_path(@project, @post) %>
    <% end %>
  </p>

  <div id="comments">
  <h2 class="count"><%= @post.comments.count %> Comments</h2>
  <%= render @comments %>

  <h3 class="count">Add a comment:</h3>
  <%= render "comments/form" %>
</div>
</div>