<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="sidebar">
    <div id="logo">
      <%= link_to root_path do %>
          <%= image_tag "logo.png" %>
      <% end %>
          </div>
          <ul>
            <li class="category">Website</li>
            <li><%= link_to "Home", root_path %></li>
            <li><%= link_to "About", about_path %></li>
          </ul>
          <ul>
            <li class="category">Links</li>
            <li>Reddit</li>
            <li>Facebook</li>
            <li>Artstation</li>
          </ul>
          <% if !user_signed_in? %>
            <p class="sign_in">Admin Login</p>
          <% end %>
          </div>

  <div id="main_content">
    <div id="header">
      <% if current_page?(root_path) %>
        <p>All Projects</p>
      <% elsif current_page?(about_path) %>
        <p>About</p>
      <% else %>
        <%= link_to "Back to all projects", root_path %>
      <% end %>
    <% if user_signed_in? %>
      <div class="buttons">
        <%= link_to "New Post", new_project_path, class: "button"%>
        <p class="button">Log Out</p>
      </div>
    <% end %>

    </div>
    <% flash.each do |name, msg| %>
      <%= content_tag(:div, msg, class: "alert") %>
    <% end %>

    <%= yield %>

  </div>
  </body>
</html>